@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Modern Negra";
  src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}

@theme {
  --color-yellow: #e7d393;
  --color-white-100: #efefef;
  --font-sans: "Mona Sans", sans-serif;
  --font-modern-negra: "Modern Negra", sans-serif;
  --font-serif: "DM Serif Text", serif;
}

html,
body {
  width: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility text-gradient {
    background: linear-gradient(to bottom, #ffffff, #898989);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.noisy {
  @apply absolute inset-0 size-full bg-[url("/images/noise.png")];
}

.left-leaf {
  @apply absolute left-0 md:top-20 md:bottom-auto -bottom-20 md:w-fit w-1/3;
}

.right-leaf {
  @apply absolute right-0 md:bottom-0 xl:top-0 2xl:top-8 top-1/2 md:w-fit w-24;
}

#title {
  @apply font-modern-negra md:text-6xl text-3xl text-yellow max-w-40;
}

#hero{
    @apply relative z-10 min-h-dvh w-full border border-transparent;
}

.body {
  @apply container mx-auto absolute left-1/2 -translate-x-1/2 lg:bottom-20 top-auto md:top-[30vh] flex justify-between items-end px-5;

  .content {
    @apply flex lg:flex-row flex-col w-full gap-10 justify-between items-center lg:items-end mx-auto;

    p:nth-of-type(2) {
      @apply font-modern-negra text-6xl text-yellow max-w-xl;
    }

    p:last-of-type {
      @apply 2xl:text-start text-center;
    }

    .view-cocktails {
      @apply space-y-5 text-lg lg:max-w-2xs md:max-w-xs w-full;

      p {
        @apply text-left;
      }

      a {
        @apply font-semibold opacity-80 2xl:text-start text-center hover:text-yellow;
      }
    }
  }
}
